<link rel="stylesheet" type="text/css" href="./project-introduction.component.css">
<link rel="stylesheet" type="text/css" href="../../static/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="../../static/css/font-awesome/css/font-awesome.min.css">
<script type="text/javascript" src="../../static/js/jquery.min.js"></script>
<script type="text/javascript" src="../../static/js/bootstrap.min.js"></script>



<div class="container-fluid text-center" style="padding:0;">
  <a class="navbar-brand" href="#"><img src="../../static/img/logo.png" alt="" class="img-fluid"></a>

  <nav class="navbar navbar-expand-md navbar-dark text-center">
    <!-- Brand -->


    <!-- Toggler/collapsibe Button -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
      <span class="fa fa-bars"></span>
    </button>

    <!-- Navbar links -->
    <div class="collapse navbar-collapse" id="collapsibleNavbar">
      <ul class="navbar-nav navlist"  style="    margin: 0 auto;">
        <li class="nav-item item">
          <a class="" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">首页</a>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton" >
            <div class="dorpimg"><img src="../../static/img/dorpdown.png" alt=""></div>
            <a class="dropdown-item">首页</a>
            <a class="dropdown-item">首页</a>
            <a class="dropdown-item">首页</a>
            <a class="dropdown-item">首页</a>
          </div>
        </li>
        <li class="nav-item item">
          <a class="" href="#">医疗机构</a>
        </li>
        <li class="nav-item item">
          <a class="" href="#">关于我们</a>
        </li>
        <li class="nav-item item">
          <a class="" href="#">专家推荐</a>
        </li>
        <li class="nav-item item">
          <a class="" href="#">项目介绍</a>
        </li>
        <li class="nav-item item">
          <a class="" href="#">服务指南</a>
        </li>
        <li class="nav-item item">
          <a class="" href="#">申请筛查</a>
        </li>
        <li class="nav-item item">
          <a class="" href="#">在线问答</a>
        </li>
        <li class="nav-item item">
          <a class="" href="#">防治知识</a>
        </li>
        <li class="nav-item item">
          <a class="" href="#">医学动态</a>
        </li>

      </ul>
    </div>
  </nav>
</div>
<img src="../../static/img/banner.png" class="img-fluid" alt="">


<div class="container" style="padding:5% 0;">
  <div class="introduction">
    <div class="int-title">
      <ul>
        <a [routerLink]="['int-pro-con-one']" [routerLinkActive]="['intbian']" class="intbubian intbian"><li><div class="int-bar">项目介绍</div></li></a>
        <a [routerLink]="['int-pro-con-two']" [routerLinkActive]="['intbian']" class="intbubian"><li><div class="int-bar">筛查者须知</div></li></a>
        <a [routerLink]="['int-pro-con-three']" [routerLinkActive]="['intbian']" class="intbubian"><li><div class="int-bar">知情同意书</div></li></a>
      </ul>
    </div>

    <div class="int-contant" style="display: block;" id="contant1">
<h6>协办单位：</h6>
<p class="conp2">深圳华大基因研究院</p>

<p class="conp2">罗氏公司</p>

<h6>项目背景：</h6>
　　<p class="conp2">宫颈癌由人乳头瘤病毒（HPV）引发，是目前唯一病因明确的癌症，为女性第二大常见恶性肿瘤严重威胁女性生命，大规模人群筛查作为最主要预防措施，已列入我国重大公共卫生
  项目。然而，高额筛查成本与医疗资源不足，严重制约了覆盖全民的筛查，尤其在医疗资源匮乏的贫困地区，矛盾更加突出并亟待解决。本项目组与美国国际防癌基金会 （POI）合
  作进行长达7年研究，探索宫颈癌筛查新技术并经数万例人群实施，有效地解决了宫颈癌筛查所面临的成本高、敏感性低、人群参与率低及失访率高等“瓶颈”问题。

本项目——2013年深圳市“宫颈阴道细胞自取样本高危型HPV检测宫颈癌筛查”公益项目——的方案是在前期研究基础上通过消化与吸收本领域国际前沿技术，建立起的简便、高效、价廉的
  筛查体系。这一新的筛查模式将减低疾病预防成本，最大限度覆盖易感人群，促进宫颈癌预防这一国家重大公共卫生项目的实施。
</p>

<h6>前期工作：</h6>
　　<p class="conp2">
    我院宫颈癌早诊早治中心集临床诊疗、病理诊断、病毒与基因检测为一体，拥有本领域先进水平的专业团队，临床与实验室专用面积300平方米、仪器设备价值900万元。宫颈中心
  成立近10年，完成国际合作、国家、省部和市级科研立项20余项，于2005年2月被国家卫生部、省卫生厅和中国癌症基金会联合授予“国家宫颈癌早诊早治示范基地”。本项目组与美
  国国际防癌基金会 （POI）合作进行宫颈癌防治研究，7年来在中国广东深圳、河源、鹤山和贵州等地完成针对数万例人群的研究工作，成功地建立了宫颈阴道细胞自取样、样本转
  运、HPV高通量检测等人群宫颈癌筛查新技术，首次在万例人群获得了简便价廉且高度敏感的筛查效率，并于墨西哥、美国等地应用，为建立适合于中国人群的宫颈癌筛查创新模式
  创造了条件。

　　2011年本中心与POI和深圳华大基因研究院 三方合作开展了“以自取样样本高危型HPV检测为筛查方案的社区工作模型”，在广东省鹤洲市万例人群实施了“自取样本、“样本卡”固体
  标本转运、HPV亚型检测”的宫颈癌筛查，项目方案同时在墨西哥实施，取得良好的效果，成功地以“宫颈阴道细胞自取样本高危型HPV检测为宫颈癌初筛”方案实施了万例人群宫颈癌筛
  查。此新型筛查模式因其取样方便与优质高效并存的优势及可以经信息网络系统参与而更适合于忙忙碌碌、无暇顾及自身健康的城市女性人群。
</p>
<h6>
项目采用的先进技术：
</h6>
<p class="conp2">
1、自取样技术 ：参加筛查者可根据说明书指引，用“自取样刷” 在自己家中自助获取合乎要求的宫颈阴道细胞样本，不需要专门的医疗场所、无需任何特殊设施，整个取样过程安全方

2、HPV分型检测技术

方法（一）新一代DNA测序HPV分型检测技术：经DNA测序检测HPV基因亚型，是HPV检测的金标准。新一代DNA测序HPV分型检测技术是由深圳华大基因研究院利用国际最先进的技术自主
  研发的检测方法，可鉴定HPV-16、-18、-31、- 33、-35、-39、- 45、-51、- 52、-56、-58、-59、-66 和 -68等14种高危HPV亚型。

方法（二）罗氏cobas 4800 HPV检测技术：采用全自动样品制备与实时聚合酶链反应及扩增和检测技术可鉴定HPV-16、-18和其他12种高危HPV亚型。以上法对自取样本检测HPV基因
  亚型筛查宫颈癌前病变的敏感性高达95%，特异性接近90%。

3、初筛HPV阳性的二次筛查：以HPV亚型联合细胞学检测作为HPV初筛后的二次筛查，复检率减少90%以上。
</p>

<h6>
参加者条件：
</h6>
<p class="conp2">
　　深圳市指定区域25～59岁有性生活、3年内未接受过子宫颈癌筛查、未行子宫切除与盆腔放射治疗的非孕期妇女5000人。
</p>

<h6>
参加方法：
</h6>
<h6>
1、通过网络信息系统参加筛查：
</h6>
<p class="conp2">
系通过挂靠在所属局域网上具有互动功能的“宫颈癌筛查网”，采用“经网络信息途径参与、邮寄取样器和样本、集中监测与发送电子报告”的“网络筛查模式”。
1)参加筛查者登陆“宫颈癌防治网”网站。

2)网上注册用户，成功申请筛查后可获得个人专属是筛查编号（条码）。

3)注册并成功申请筛查后数日即可收到邮寄的自取样刷和贴有个人专属条码的装有样本保存液的标本瓶。根据说明书（或网络自取样视频> ）指引自行取样并将样本转移至样本卡
  （或样本瓶），将样本装入随寄的信封寄回（如为样本瓶则需快递寄回）。

4)网上查询样本送检状态、查询结果与得到治疗指导，并可预约到北京大学深圳医院宫颈门诊就医。
</p>
<h6>
2、通过社区街道、工作单位或当地医疗机构参加筛查：
</h6>

<p class="conp2">
系本网站与上述机构联合组织的筛查，适用于没有完善的信息网络系统或缺乏上网条件的妇女。
1)由组织筛查部门公布筛查信息。

2)于指定时间到指定地点由项目相关工作人员协助报名或集体报名。

3)发放自取样刷和贴有个人专属条码的装有细胞保存液的标本瓶。

4)自取样放入标本瓶后交回。

5)由组织筛查部门通知筛查结果并获得进一步诊疗指导。
</p>
</div>

<div class="int-contant" style="display: none;" id="contant2">
<h6>项目来源与特色：</h6>
　　<p class="conp2">本项目是由北京大学深圳医院宫颈癌早诊早治中心发起，美国国际防癌基金会（POI）、深圳华大基因研究院与美国罗氏公司联合提供技术支持的公益性子宫颈癌筛查项目。

　　和以往主要由医生和医务工作者们执行的项目不同，这个项目的取材将由参加筛查者自行完成。项目将采用一种非常简单的“自取样”技术，参加筛查的女性能够不出家门完成检测，无需再花费时间前往医疗机构。在妇女自己获取的样本得到检测之后，若筛查结果为阳性才需要医生的介入。

项目所采用的所有技术都已经过许多研究证实行之有效，并经有关部门批准在国内使用。

　　项目的目的是使所有有患病风险的女性都得到筛查。项目检测所需要的费用由项目方承担。参与筛查的女性无需支付任何费用，只有筛查阳性才需要自己支付进一步诊治的费用。经济困难女性还可申请免费诊断。
</p>
<h6>宫颈癌防治要点知识:</h6>
<p class="conp2">
　　人乳头瘤病毒 (HPV) 感染是子宫颈癌的病因，人类非常容易感染HPV。事实上，大多数成年人在一生的某段时间内都会感染HPV。但是，90%的感染者会利用机体的自身免疫功能完全清除感染的病毒，只有少数呈HPV持续感染的女性才会有发生子宫颈癌的危险。

　　即使HPV持续感染并开始引起病变，首先引起的也只是癌前病变。癌前病变在发展成为癌症之前通常会持续存在数年，这个阶段很容易治疗。只要早期检查出来，简单的门诊小手术就可以彻底治愈。

　　女性子宫颈癌预防对未成年人是疫苗接种，而对成年人就是参加筛查。进行子宫颈癌筛查的目的是发现存在子宫颈癌病因并引起宫颈早期癌或癌前病变的妇女，给予合理干预阻断病变的进展。

　　治疗晚期子宫颈癌患者耗资巨大，而且一旦发展成为晚期癌症，治愈的可能几乎为零。甄别和治疗癌前病变却花费很少，早期病变能够治愈。
</p>
<h6>自取样技术介绍</h6>
<p class="conp2">
　　自取样技术的使用能够让女性在家中自己采集样本进行HPV检测。我们所进行的SHENCCAST研究首次在万例大样本人群进行自取样筛查获得了与医生取样筛查相同的敏感性。从而证实采用适宜的HPV检测技术对自取样本的检验和由医生取样的检测同样准确。本研究结果被美国最新发布的宫颈癌防治指南所引用。

　　自取样过程安全无痛，卫生且容易操作。请仔细阅读《取样说明书》或观看网站的取样方法视频。取样刷伸入阴道内时动作要轻柔，边伸入边上下移动，直到感觉到刷子到达阴道顶端，旋转3圈取出即可。

　　取样完成后，将取样刷刷头涂抹在样本卡上，丢弃刷子，将取样卡放在孩子碰不到的安全地方自然风干（不超过30分钟），然后将取样卡放在小信封内封好。若使用标本瓶，则拧开瓶盖，把刷子头端放入标本瓶至瓶底，将刷柄靠近瓶口稍用力即可折断刷柄，将刷头保留在标本瓶里，拧紧瓶盖经快递寄回。
</p>
<h6>参加筛查的条件</h6>
<p class="conp2">
　　本项目设定的筛查条件是：年龄25-60岁，有性生活，未经过子宫全切术和盆腔放射治疗的非妊娠女性。

　　符合筛查条件的女性参加筛查完全出于自愿。女性阅读筛查须知后同意参加筛查，网上注册成功申请后，必须点击《知情同意书》“同意筛查”。此举等同于亲笔签字。如果筛查对象不签字，便不可以参加筛查。
</p>
</div>

<div class="int-contant" style="display: none;" id="contant3">
  <h6>项目名称</h6>
  <p class="conp2">
  网络模式宫颈癌筛查——宫颈阴道细胞自取样本高危型HPV检测宫颈癌筛查
  </p>
  <h6>发起和执行单位</h6>
  <p class="conp2">
  北京大学深圳医院、美国国际防癌基金会（POI）、深圳华大基因研究院 、美国罗氏公司
  </p>
  <h6>项目信息与目的</h6>
  <p class="conp2">
  　　您被邀请参加一个公益性子宫颈癌筛查项目，这个项目的目的是推行一种女性子宫颈癌网络筛查模式，并最终将这一筛查模式在更大的范围推广。

  　　目前，已经明确子宫颈癌是由人乳头瘤病毒（HPV）引起的。当女性感染了HPV，可引起子宫颈细胞异常改变。如果这种异常细胞未能在形成早期被诊查出来并合理干预，HPV感染所致病变就有可能进一步发展，最终成为子宫颈癌。针对高危型HPV的检测可作为子宫颈癌的筛查方法，接受这种检测可以发现HPV感染和早期病变，保护您免于发生子宫颈癌。您只需使用阴道取样刷自己取样，就可接受这种检查。如果您的检测结果有异常，我们会对您进行专业的进一步诊断及治疗指导。参与这个项目，您同时有机会以自己的行动对您所在地区姐妹的公共健康保健工作产生直接影响。

  　　这份文件是为了让您了解这个公益性防癌项目的信息，包括项目的目的、执行程序、您的获益和可能的风险。您参加这个项目的前提是您自愿接受筛查。您完全可以拒绝参加，并有权在任何时候退出这个项目，且不会受到任何处罚，您的利益也不会受到任何损害。

  　　在决定参与本项目之前或期间，您可以向我们提出您认为必要的任何问题。我们的工作人员会通过网络互动的方式向您讲解本知情同意书的内容以及任何您尚不清楚的筛查相关问题。在您的问题未能得到您认为满意的答案之前，请不要在这份《知情同意书》上签字。
  </p>
  <h6>您受邀请参与本项目的原因</h6>
  <p class="conp2">
  　　您被邀请参加本项目是因为您的年龄在30到55岁、有性生活、没有接受过子宫切除和盆腔放疗，目前没有妊娠。
  </p>
  <h6>参加项目筛查的程序</h6>
  <p class="conp2">
  　　首先，登陆我们的“宫颈癌防治网”网站，注册用户并填写与筛查有关的真实个人信息申请筛查，成功申请后便可获得一个你个人专属的筛查编号（条码），几天后你会收到我们寄送的取样物品与贴有个人专有条码装有样本保存液的样本瓶，根据说明书指引（或本网站介绍自取样方法的视频）自己取得样本，将取样刷刷头放入样本瓶，封存好样本寄回，网上查询样本送检状态及检测结果。

  　　如果您的检测结果正常，您的筛查就结束了；如果检测结果呈阳性（异常），您需要进一步诊断，您将预约到北大深圳医院宫颈门诊进行诊断，并得到治疗指导。
  </p>
  <h6>风险与不适</h6>
  <p class="conp2">
  　　自取样过程可能会给您带来极轻微的不适感，但相关的研究资料已经证明，这种不适感的程度远远小于您在接受常规妇科检查时感受到的不适。

  　　HPV检测结果阳性的女性可能会在接受阴道镜检查、宫颈活检或治疗过程中感到不舒服。活检或治疗过程中还可能会有少许出血和感染的风险，但这种风险非常小。

  　　如果您的检测结果阳性，在收到检测结果通知时，您可能会有心理上的压力。但我们提供的进一步的诊疗措施将为您明确诊断，并使您得到有效的治疗。

  　　我们将非常谨慎地保护您的健康信息不被泄露，我们将给您一个专属的编号，以保护您的个人资料。然而，个人信息的泄露依然是一个可能的非医学风险。
  </p>
  <h6>您的受益</h6>
    <p class="conp2">
  　　参与本项目的筛查，您可以获得直接的医疗受益。本项目能够甄别出受到HPV感染的女性和那些罹患癌前病变和癌症风险较大的HPV亚型，据此确定需要接受其他方法的二次筛查或直接阴道镜检查宫颈活检进一步诊断。项目将为病理结果阳性者提供针对癌前病变的治疗指导，并在治疗后定期随访。此外，您的参与可为我们提供有价值的信息，使我们可以藉此帮助更多的患有子宫颈癌前病变和子宫颈癌患者。
    </p>
  <h6>隐私权与隐私保护</h6>
  <p class="conp2">
  　　在筛查和可能的治疗过程中，我们需要记录一些您的信息和诊疗资料。这些资料将仅限于在北京大学深圳医院、深圳华大基因研究院、美国罗氏公司、美国国际防癌基金会或美国克利夫兰医学中心范围内使用，也可能向以上单位以外披露。筛查过程和检测结果将会保存在您的个人档案中，以表明您参加过规范的子宫颈癌筛查。项目所记录的有关您的信息将会以保密方式妥善保存。

  　　本项目执行中所获得的资料可能会在文献上发表，或在会议上演示，但我们不会发布能够识别您身份的任何信息。

  　　您的检测和诊疗资料（而非您的身份识别资料）可能被引用或披露，但您完全可以通过写信给北京大学深圳医院的吴瑞芳教授或给美国国际防癌基金会Jerome Belinson 教授来制止这种引用和披露。但在已经完成的筛查和治疗中所记录下来的任何与您有关的信息将不会被删除，并会继续用于项目的总结和评价。已经被披露到北京大学深圳医院、深圳华大基因研究院、美国罗氏公司、美国国际防癌基金会和克利夫兰医学中心以外的资讯将无法检索到。即使您要求我们制止这种信息披露，按照中国法律，披露已经收集到的有关您的信息仍属合法。

  　　签署这份知情同意书意味着您已经授权我们获得一些您的诊疗记录。如果您不签署这份知情同意书，您将不能参加本项目的筛查。
  </p>
  <h6>项目费用说明</h6>
  <p class="conp2">
  　　参与本项目没有报酬。筛查所用取样物品及邮寄费用、HPV检测的费用均由项目组承担。如果您还需要接受进一步的诊断与治疗，则需自己负担相关费用。若您缺少支付能力，我们会尽可能寻找经费为您提供支持。
  </p>
  <h6>自愿参与和退出项目</h6>
  <p class="conp2">
  　　我们再次声明：您参与项目完全出于自愿，您并非必需参加本项目。如果您决定不参加项目筛查或在项目执行期间的任何时间决定退出，您将不会受到任何惩罚或有任何利益损失，也不会影响您现在和将来享受卫生保健的权益。

  　　当您决定退出项目时，请通知项目的负责人。退出项目意味着我们将不再向您提供任何检查信息。已经收集到的信息将继续收录在项目的数据库中，用于项目执行效果的评价和报告。
  </p>
  <h6>项目组联系方式</h6>
  <p class="conp2">
  　　如果您对作为筛查对象的权益有任何质疑，或对本项目工作有任何问题、担心或投诉，请联系北京大学深圳医院子宫颈癌早诊早治中心，0755-83923333转 专线电话：13622301162
  </p>
  <h6>参与项目者声明</h6>
  <p class="conp2">
  　　我已经详细阅读了以上信息，并得到了所有针对我的问题的满意回答。我理解我参与本项目是出于自愿，我完全可以在任何时候退出项目。以下我的签字代表我已经同意参与项目并按照本项目程序接受筛查，但并不意味着我放弃了我的任何法律权益。
  </p>
  <p class="conp2">
  参与者姓名：三胖
  </p>
  <p class="conp2">
  身份证：23141234125412354123
  </p>
  <p class="conp2">
  日期：2017.05.05
  </p>

  <input type="text" class="form-control" placeholder="参与者签字:">
  <div style="margin-top:3%;">
  <button class="btn btn-primary">同意</button>
  <button class="btn">放弃</button>
  </div>
</div>

  </div>
</div>

<section>
<div class="about">
  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <ul>
          <li>
            <p class="aboutp1">关于</p>
          </li>
          <li>
            <a href="">
              <p class="aboutp2">北京大学深圳医院于2003年引进国际
                最先进技术成立了宫颈癌早诊早治中
                心，其突出特点是集宫颈门诊、专业
                护理、病毒DNA检验、细胞诊断、阴
                道镜及宫颈活组织检查、病理制片及
                诊断........</p>
            </a>
          </li>
        </ul>
      </div>
      <div class="col-md-3">

        <ul>
          <li> <p class="aboutp1">帮助</p></li>
          <li>
            <a href="">
              注册新用户
            </a>
          </li>
          <li>
            <a href="">
              申请筛查
            </a>
          </li>
          <li>
            <a href="">
              收发货流程
            </a>
          </li>
          <li>
            <a href="">
              自检视频(瓶装采样法)
            </a>
          </li>
          <li>
            <a href="">
              自检视频(样本卡采样法)
            </a>
          </li>
          <li>
            <a href="">
              查询结果
            </a>
          </li>

        </ul>
      </div>
      <div class="col-md-3">

        <ul>
          <li><p class="aboutp1">联系</p></li>
          <li>
            地址: 广东省深圳市福田莲花路1120号
          </li>
          <li>
            电话: 0755-83923333转
          </li>
          <li>
            专线: 13622301162
          </li>
          <li>
            邮件: abc@abc.com
          </li>
        </ul>
      </div>
      <div class="col-md-3" style="text-align: center;
    margin-top: 5%;">
        <img src="../../static/img/erweima.png" alt="">

      </div>
    </div>
  </div>
</div>
</section>
<footer>
  <div class="container">
    <div style="padding:4% 0;">
      <p>粤ICP备11104678号  |  技术支持:(qq:41502348)</p>
      <div class="footerbigdiv" style="width:30%;right:0;">
        <div class="row footerdiv">
          <div class="col-md-3">
            <a href="">
              <img src="../../static/img/tubiao1.png" alt="">
            </a>
          </div>
          <div class="col-md-3">
            <a href="">
              <img src="../../static/img/tubiao2.png" alt="">
            </a>
          </div>
          <div class="col-md-3">
            <a href="">
              <img src="../../static/img/tubiao3.png" alt="">
            </a>
          </div>
          <div class="col-md-3">
            <a href="">
              <img src="../../static/img/tubiao4.png" alt="">
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>

<script type="text/javascript">
  for(var i = 0;i < $(".intbubian").length; i++){
    (function(i) {
     
        $(".intbubian")[i].onclick  = function(e){
            console.log(i);
            $(".intbian").removeClass('intbian')
            $(this).addClass("intbian");
            $(".int-contant").eq(i).css("display","block")
            $(".int-contant").eq(i).siblings(".int-contant").css("display","none");

        }
    })(i)
}


</script>
