<link rel="stylesheet" type="text/css" href="./article.component.css">
<link rel="stylesheet" type="text/css" href="../../static/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="../../static/css/font-awesome/css/font-awesome.min.css">
<script type="text/javascript" src="../../static/js/jquery.min.js"></script>
<script type="text/javascript" src="../../static/js/bootstrap.min.js"></script>




<div class="container-fluid text-center" style="padding:0;">
  <a class="navbar-brand" href="#"><img src="../../static/img/logo.png" alt="" class="img-fluid"></a>

  <nav class="navbar navbar-expand-md navbar-dark text-center">
    <!-- Brand -->


    <!-- Toggler/collapsibe Button -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar" style="color:#000;">
      <span class="fa fa-bars"></span>
    </button>

    <!-- Navbar links -->
    <div class="collapse navbar-collapse" id="collapsibleNavbar">
      <ul class="navbar-nav navlist"  style="    margin: 0 auto;">
        <li class="nav-item item">
          <a class="" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">首页</a>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton" >
            <div class="dorpimg"></div>
            <a class="dropdown-item">首页</a>
            <a class="dropdown-item">首页</a>
            <a class="dropdown-item">首页</a>
            <a class="dropdown-item">首页</a>
          </div>
        </li>
        <li class="nav-item item">
          <a class="" href="#">医疗机构</a>
        </li>
        <li class="nav-item item">
          <a class="" href="#">关于我们</a>
        </li>
        <li class="nav-item item">
          <a class="" href="#">专家推荐</a>
        </li>
        <li class="nav-item item">
          <a class="" href="#">项目介绍</a>
        </li>
        <li class="nav-item item">
          <a class="" href="#">服务指南</a>
        </li>
        <li class="nav-item item">
          <a class="" href="#">申请筛查</a>
        </li>
        <li class="nav-item item">
          <a class="" href="#">在线问答</a>
        </li>
        <li class="nav-item item">
          <a class="" href="#">防治知识</a>
        </li>
        <li class="nav-item item">
          <a class="" href="#">医学动态</a>
        </li>

      </ul>
    </div>
  </nav>
</div>

<img src="../../static/img/banner.png" style="display: inline-block" class="img-fluid" alt="">
<section>
  <div class="container-fluid">
<div class="row">
    <div class="lefttitle col-xs-12 col-md-4 col-lg-2">
      <ul>
        <li>
          <a [routerLink]="['details']" class="lefttitle1 lefttitleblue" [routerLinkActive]="['']">

        北京大学深圳医院

          </a>
        </li>
        <li>
          <a [routerLink]="['detailstwo']" class="lefttitle1" [routerLinkActive]="['lefttitleblue']">

        北京大学深圳医院宫劲癌早什么东西

          </a>
        </li>
        <li>
          <a [routerLink]="['detailsthree']" class="lefttitle1" [routerLinkActive]="['lefttitleblue']">
        北京大学深圳医院妇产科
          </a>
        </li>
      </ul>
    </div>
<div class="rightarticle text-center col-xs-12 col-md-7 col-lg-8">
  <p>
    北京大学深圳医院
  </p>
  <p class="text-left">
    北京大学深圳医院原名“深圳市中心医院”，是深圳市政府投资4.5亿元人民币建成的现代化综合性医院。医院于1999年底建成开业，2001年9月，深圳市政府与北京
    大学、香港科技大学合作，医院更名为“北京大学深圳医院”和“北京大学深圳临床医学院”，纳入北京大学附属医院管理体系。

    医院占地面积5.9万平方米，首期建筑面积10.8万平方米，编制病床800张，实际开放病床953张。医院总资产现已达到9.3亿元，拥有总价值超4.0亿元的现代化医疗
    设备。医院现有员工近2000名。其中拥有副主任医师以上职称的高级技术人才近500名，硕士以上学位人员450名，有海外留学经历人员100名左右。

    医院开设52个临床医技科室，其中1个国家级合作重点学科、1个省级重点实验室、1个省级特色医学专科、4个市级重点学科及实验室。医院开展的一大批医学高新
    技术和特色服务项目，吸引了深圳、香港、澳门以及周边地区的大批患者，还有来自全球36个国家和地区的外宾前来就诊。2010年医院年门急诊总量近230万人次，
    年出院病人近4.2万人次，年手术量2.4万台次。

    作为临床医学院，医院设立了内、外、妇、儿等二级教研室23个，三级教研室27个。年接收北京大学本科、研究生、临床实习生50多名，其他实习、进修人员100多
    名。现已建立博士后科研工作站1个，博士培养点5个，硕士培养点37个，共有硕士、博士导师76名。现承担10多项国家、省自然科学基金项目，630多项国家、省部、
    市级科研课题，并获得多项国家、省、市科技成果和国家专利。

    医院与北京大学、香港科技大学在技术和学术方面展开了广泛的交流与合作，逐步拓展对外交流渠道。医院与日本东京癌研病院建立了姊妹医院关系，并与国际知名
    的美国休斯顿医学中心、华盛顿大学医学中心、加利弗尼亚大学旧金山医学中心和法国尼斯医学中心建立了密切的交流合作关系，并多次互访增进合作。

    目前，医院二期规划建设工程已经开工，发展规模进一步扩大，新建外科住院楼等医疗建筑群体，届时，医院总建筑面积达21.1万平方米，病床总数达1200张，停车
    位816个。

    “仁心仁术，博学博爱”。伴随这一使命和责任的传承，年轻的北京大学深圳医院将在“同享医学成果，共度健康人生”的路上，执着、坚定地不断前进!
  </p>
  <p class="text-left">
    Introduction
    Shenzhen Hospital was named Shenzhen Central Hospital when it was opened in 1999. It was renamed as Peking University Shenzhen Hospital and Peking Unive
    rsity Shenzhen Clinical Medical College after the cooperation with Peking University in September 2001. Currently, the hospital has investments from the Shenzhe
    n government totaling 450 million RMB. The total asset is worth about 930 million RMB, with the medica
    l equipment worth more than 400 million RMB.
    The hospital buildings cover 108, 000 square meters, spread over an area of 59, 000 square meters. Currently, the hospital starts a second phase expansion, inclu
    ding the new, state-of-the-art surgical building. The total construction area of the hospital will increase to 211,000 square meters, a total of 1,200 beds.
    There are 2000 staff members, including more than 500 professors and associate professors. More than 450 staffs hold master and doctor degree, and more tha
    n 100 staffs have experience of training abroad.
    Peking University Shenzhen Hospital is the leading academic hospital in the fast growing Guangdong province of southern China. Shenzhen hospital has 925 inp
    atient beds, 52 clinical departments, including 1 national key department, 2 provincial key departments, 4 municipal key departments and laboratories. The hospi
    tal supplies outstanding services for the local Shenzhen population, and also attracts patient from Hong Kong, Macao, and 36 countries and regions around the
    world. In 2010, there were 2.3 millions outpatient visits, 42, 000 inpatient admissions, and 24, 000 surgical procedures.
    As a teaching hospital, Peking University Shenzhen Hospital Medical Clinical College includes 23 departments of medical education including Internal Medicine,
    Surgery, Obstetrics and Gynecology, Pediatrics. There are also 27 educational groups including General Surgery, Urologic Surgery, Digestive Diseases and Endocr
    inology. The hospital educates more than 50 interns from Peking University including undergraduate and
    postgraduate students, and more than 100 trainees and students from other universities in China and abroad for advanced training every year. Shenzhen hospit
    al has an established post-doctoral program, with five doctoral programs and 37 postgraduate Master’s Degree programs annually.
    The hospital is leading more than 10 research projects from WHO and the National Natural Science Foundation, and more than 630 projects from the provincial
    government and the municipal government. 13 research projects were awarded national awards from the Chinese government and 9 technical inventions have
    been submitted for national patents.
    The hospital has close cooperation with Peking University, Hong Kong University of Science and Technology, and hospitals and universities in the USA, Europe, a
    nd Japan. Shenzhen Hospital has established sister relationships with the Tokyo Institute of Cancer Research, Houston Medical Center, Medical Center of Universi
    ty of Washington, Medical Center of California University at San Francisco, Cleveland Clinic, Nice Hospital and the Health Ministry of France.Shenzhen Hospital is
    a leader of medical innovation in the booming southern provinces of China, setting new standards of research and medical care, improving well-being of the loc
    al population and treatment for patient from all over the world.
  </p>
</div>

</div>
  </div>
</section>
<div class="about">
  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <ul>
          <li>
            <p class="aboutp1">关于</p>
          </li>
          <li>
            <a href="">
              <p class="aboutp2">北京大学深圳医院于2003年引进国际
                最先进技术成立了宫颈癌早诊早治中
                心，其突出特点是集宫颈门诊、专业
                护理、病毒DNA检验、细胞诊断、阴
                道镜及宫颈活组织检查、病理制片及
                诊断........</p>
            </a>
          </li>
        </ul>
      </div>
      <div class="col-md-3">

        <ul>
          <li> <p class="aboutp1">帮助</p></li>
          <li>
            <a href="">
              注册新用户
            </a>
          </li>
          <li>
            <a href="">
              申请筛查
            </a>
          </li>
          <li>
            <a href="">
              收发货流程
            </a>
          </li>
          <li>
            <a href="">
              自检视频(瓶装采样法)
            </a>
          </li>
          <li>
            <a href="">
              自检视频(样本卡采样法)
            </a>
          </li>
          <li>
            <a href="">
              查询结果
            </a>
          </li>

        </ul>
      </div>
      <div class="col-md-3">

        <ul>
          <li><p class="aboutp1">联系</p></li>
          <li>
            地址: 广东省深圳市福田莲花路1120号
          </li>
          <li>
            电话: 0755-83923333转
          </li>
          <li>
            专线: 13622301162
          </li>
          <li>
            邮件: abc@abc.com
          </li>
        </ul>
      </div>
      <div class="col-md-3" style="text-align: center;
    margin-top: 5%;">
        <img src="../../static/img/erweima.png" alt="">

      </div>
    </div>
  </div>
</div>

<footer>
  <div class="container">
    <div style="padding:4% 0;">
      <p>粤ICP备11104678号  |  技术支持:(qq:41502348)</p>
      <div class="footerbigdiv" style="width:30%;right:0;">
        <div class="row footerdiv">
          <div class="col-md-3">
            <a href="">
              <img src="../../static/img/tubiao1.png" alt="">
            </a>
          </div>
          <div class="col-md-3">
            <a href="">
              <img src="../../static/img/tubiao2.png" alt="">
            </a>
          </div>
          <div class="col-md-3">
            <a href="">
              <img src="../../static/img/tubiao3.png" alt="">
            </a>
          </div>
          <div class="col-md-3" >
            <a href="">
              <img src="../../static/img/tubiao4.png" alt="">
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
<script type="text/javascript">

  // $(".lefttitle1").click(function(){
  //   for( var i= 0; i => $(".lefttitle1").length; i++){
  //     $(this).addClass("lefttitleblue").siblings().removeClass("lefttitleblue");
  //   }
    
  // });
  for(var i = 0;i < $(".lefttitle1").length; i++){
    (function(i) {
        var Bindex = 0;
        $(".lefttitle1")[i].onclick  = function(e){
            // console.log(i);
            $(".int-contant")[i].hide();
            $(".lefttitleblue").removeClass('lefttitleblue')
            $(this).addClass("lefttitleblue");
        }
    })(i)
}

  // $(".lefttitle1").click(function(){
  //     $(this).addClass("lefttitleblue").siblings().removeClass("lefttitleblue");
  //     console.log($(this).addClass("lefttitleblue").siblings());
  // });
</script>