<link rel="stylesheet" type="text/css" href="./home-page.component.css">
<link rel="stylesheet" type="text/css" href="../../static/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="../../static/css/font-awesome/css/font-awesome.min.css">
<script type="text/javascript" src="../../static/js/jquery.min.js"></script>
<script type="text/javascript" src="../../static/js/bootstrap.min.js"></script>
<div class="container-fluid text-center" style="padding:0;">
<a class="navbar-brand" href="#"><img src="../../static/img/logo.png" alt="" class="img-fluid"></a>

<nav class="navbar navbar-expand-md navbar-dark text-center">
  <!-- Brand -->


  <!-- Toggler/collapsibe Button -->
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar" style="color:#000;">
    <span class="fa fa-bars"></span>
  </button>

  <!-- Navbar links -->
  <div class="collapse navbar-collapse" id="collapsibleNavbar">
    <ul class="navbar-nav navlist"  style="    margin: 0 auto;">
      <li class="nav-item item">
        <a class="" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">首页</a>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton" >
          <div class="dorpimg"><img src="../../static/img/dorpdown.png" alt=""></div>
          <a class="dropdown-item">首页</a>
          <a class="dropdown-item">首页</a>
          <a class="dropdown-item">首页</a>
          <a class="dropdown-item">首页</a>
        </div>
      </li>
      <li class="nav-item item">
        <a class="" href="#">医疗机构</a>
      </li>
      <li class="nav-item item">
        <a class="" href="#">关于我们</a>
      </li>
      <li class="nav-item item">
        <a class="" href="#">专家推荐</a>
      </li>
      <li class="nav-item item">
        <a class="" href="#">项目介绍</a>
      </li>
      <li class="nav-item item">
        <a class="" href="#">服务指南</a>
      </li>
      <li class="nav-item item">
        <a class="" href="#">申请筛查</a>
      </li>
      <li class="nav-item item">
        <a class="" href="#">在线问答</a>
      </li>
      <li class="nav-item item">
        <a class="" href="#">防治知识</a>
      </li>
      <li class="nav-item item">
        <a class="" href="#">医学动态</a>
      </li>

    </ul>
  </div>
</nav>
</div>
<img src="../../static/img/banner.png" class="img-fluid" alt="">

<section>
  <div class="container">
    <div class="big screen text-center">
      <a href="" class="bigtitle">筛查指引</a>
      <p style="padding: 10px 0;">Screen</p>
      <div class="row" style="vertical-align: middle">
        <div class="col-md-2 col-sm-12 offset-1 onebig"><a href=""><div class="onediv"><img src="../../static/img/oneone.png" alt=""><p>注册用户</p></div></a></div>
        <div class="col-md-2 col-sm-12 "><a href=""><div class="onediv"><img src="../../static/img/onetwo.png" alt=""><p>申请筛查</p></div></a></div>
        <div class="col-md-2 col-sm-12 "><a href=""><div class="onediv"><img src="../../static/img/onethree.png" alt=""><p>收发样本流程</p></div></a></div>
        <div class="col-md-2 col-sm-12 "><a href=""><div class="onediv"><img src="../../static/img/onefour.png" alt=""><p>自取样图解</p></div></a></div>
        <div class="col-md-2 col-sm-12 "><a href=""><div class="onediv"><img src="../../static/img/onefive.png" alt=""><p>查询结果</p></div></a></div>
      </div>
    </div>

    <div class="big screen text-center">
      <a href="" class="bigtitle">项目介绍</a>
      <p style="padding: 10px 0;">Product</p>
    <div class="row">
      <div class="col-md-4 twobig">
        <div class="twodiv">
        <img src="../../static/img/twoone.png" alt="">
          <p class="twop1">公益</p>
          <p>2013-2014年深圳市“宫颈阴道细胞自取样本高危型.......</p>
          <a href="">
          <div class="twobtn zhaomu1" style="">正在招募</div>
          </a>
        </div>
      </div>
      <div class="col-md-4 twobig">
        <div class="twodiv">
          <img src="../../static/img/twotwo.png" alt="">
          <p class="twop1">宫劲</p>
          <p>深圳市坪山新区宫颈癌防治公益项目</p>
          <a href="">
          <div class="twobtn zhaomu2" style="">正在招募</div>
          </a>
        </div>
      </div>
      <div class="col-md-4 twobig">
        <div class="twodiv">
          <img src="../../static/img/twothree.png" alt="">
          <p class="twop1">筛查</p>
          <p>鹤山市户籍适龄妇女子宫颈癌免费筛查项目</p>
          <a href="">
          <div class="twobtn zhaomu3" style="">正在招募</div>
          </a>
        </div>
      </div>
    </div>
    </div>

    <div class="big screen text-center">
      <a href="" class="bigtitle">团队介绍</a>
      <p style="padding: 10px 0;">Team</p>
    <div class="row">
      <div class="col-md-4">
        <div class="threediv">
          <img src="../../static/img/threeone.jpg" alt="" style="width: 100%;">
          <p class="threep1">北京大学深圳医院</p>
          <p class="threep2"><a>查看详情</a></p>
        </div>
      </div>
      <div class="col-md-4">
        <div class="threediv">
          <img src="../../static/img/threetwo.jpg" alt="" style="width: 100%;">
          <p class="threep1">宫劲癌早诊早治中心</p>
          <p class="threep2"><a>查看详情</a></p>
        </div>
      </div>
      <div class="col-md-4">
        <div class="threediv">
          <img src="../../static/img/threethree.jpg" alt="" style="width: 100%;">
          <p class="threep1">北京大学深圳医院妇产科</p>
          <p class="threep2"><a>查看详情</a></p>
        </div>
      </div>
    </div>
    </div>

    <div class="big screen">
      <div class="text-center">
      <a href="" class="bigtitle">医学动态</a>
      <p style="padding: 10px 0;">Trends</p>
      </div>
      <div class="row">
        <div class="col-md-4">
          <div class="fourdiv">
            <img src="../../static/img/fourone.png" alt="">
            <div class="fourdivs">
            <p class="fourp1">
              人类可以消灭的第一种癌症是它！在家就能查
            </p>
              <p class="fourp2">
                2017-08-25
              </p>
              <p class="fourp2">
                宫颈癌是病因明确的癌症，99%的病例都是由人乳头状瘤病
                毒（HPV）导致。因此，中国医学科学院肿瘤医院流行病学
                研究室主任乔友林教授预言，宫颈癌将是人类历史上第一个
                被消灭的癌症...
              </p>
              <a href="">
              <div class="fourbtn text-center">查看更多</div>
              </a>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="fourdiv">
            <img src="../../static/img/fourtwo.png" alt="">
            <div class="fourdivs">
              <p class="fourp1">
                人类可以消灭的第一种癌症是它！在家就能查
              </p>
              <p class="fourp2">
                2017-08-25
              </p>
              <p class="fourp2">
                宫颈癌是病因明确的癌症，99%的病例都是由人乳头状瘤病
                毒（HPV）导致。因此，中国医学科学院肿瘤医院流行病学
                研究室主任乔友林教授预言，宫颈癌将是人类历史上第一个
                被消灭的癌症...
              </p>
              <a href="">
              <div class="fourbtn text-center">查看更多</div>
              </a>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="fourdiv">
            <img src="../../static/img/fourthree.png" alt="">
            <div class="fourdivs">
              <p class="fourp1">
                人类可以消灭的第一种癌症是它！在家就能查
              </p>
              <p class="fourp2">
                2017-08-25
              </p>
              <p class="fourp2">
                宫颈癌是病因明确的癌症，99%的病例都是由人乳头状瘤病
                毒（HPV）导致。因此，中国医学科学院肿瘤医院流行病学
                研究室主任乔友林教授预言，宫颈癌将是人类历史上第一个
                被消灭的癌症...
              </p>
              <a href="">
              <div class="fourbtn text-center">查看更多</div>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
<div class="zhuanjia text-center">
  <div class="zhuanjia-title">
  国际著名妇科肿瘤专家
  </div>
  <div class="carousel slide" data-ride="carousel" id="demo" style="width:20%;margin:0 auto;">
    <ul class="carousel-indicators">
      <li data-target="#demo" data-slide-to="0" class="active"></li>
      <li data-target="#demo" data-slide-to="1"></li>
      <li data-target="#demo" data-slide-to="2"></li>
    </ul>
    <div class="carousel-inner">
      <div class="carousel-item active">
  <div>
    <img src="../../static/img/zhuanjia.png" alt="">
    <p class="zhuanp1">杰瑞姆•贝林森</p>
    <p class="zhuanp1">Jerome Leslie Belinson</p>
  </div>

      </div>
      <div class="carousel-item">
        <div>
          <img src="../../static/img/zhuanjia.png" alt="">
          <p class="zhuanp1">杰瑞姆•贝林森</p>
          <p class="zhuanp1">Jerome Leslie Belinson</p>
        </div>
      </div>
      <div class="carousel-item">
        <div>
          <img src="../../static/img/zhuanjia.png" alt="">
          <p class="zhuanp1">杰瑞姆•贝林森</p>
          <p class="zhuanp1">Jerome Leslie Belinson</p>
        </div>
      </div>
    </div>


  </div>

<div class="friend">
  <p>合作伙伴</p>
  <div class="row ">
    <div class="col-md-3">
      <img src="../../static/img/friend1.jpg" alt="">
    </div>
    <div class="col-md-3">
      <img src="../../static/img/friend2.jpg" alt="">
    </div>
    <div class="col-md-3">
      <img src="../../static/img/friend3.png" alt="">
    </div>
    <div class="col-md-3">
      <img src="../../static/img/friend4.png" alt="">
    </div>
  </div>
</div>
</div>

  </div>
  <div class="answer">
<div class="container">
  <div class="carousel slide" data-ride="carousel" id="demo2">

    <div class="carousel-inner">
      <div class="carousel-item active">
          <div class="row">
            <div class="col-md-3">
              <div class="answerbig">
                <a href="">
                <p class="answerp1">01</p>
                <p class="answerp2">星期天有门诊吗？</p>
                <p class="answerp3">星期天上午有门诊</p>
                <div class="answerdiv">
                    <span class="fa fa-long-arrow-right"></span>
                </div>
                </a>
              </div>
            </div>



            <div class="col-md-3">
              <div class="answerbig">
                <a href="">
                <p class="answerp1">01</p>
                <p class="answerp2">星期天有门诊吗？</p>
                <p class="answerp3">星期天上午有门诊</p>
                <div class="answerdiv">
                  <span class="fa fa-long-arrow-right"></span>
                </div>
                </a>
              </div>
            </div>
            <div class="col-md-3">
              <div class="answerbig">
                <a href="">
                <p class="answerp1">01</p>
                <p class="answerp2">星期天有门诊吗？</p>
                <p class="answerp3">星期天上午有门诊</p>
                <div class="answerdiv">
                  <span class="fa fa-long-arrow-right"></span>
                </div>
                </a>
              </div>
            </div>
            <div class="col-md-3">
              <div class="answerbig">
                <a href="">
                <p class="answerp1">01</p>
                <p class="answerp2">星期天有门诊吗？</p>
                <p class="answerp3">星期天上午有门诊</p>
                <div class="answerdiv">
                  <span class="fa fa-long-arrow-right"></span>
                </div>
                </a>
              </div>
            </div>
          </div>


      </div>
      <div class="carousel-item">
        <div class="row">
          <div class="col-md-3">
            <div class="answerbig">
              <a href="">
              <p class="answerp1">01</p>
              <p class="answerp2">星期天有门诊吗？</p>
              <p class="answerp3">星期天上午有门诊</p>
              <div class="answerdiv">
                <span class="fa fa-long-arrow-right"></span>
              </div>
              </a>
            </div>
          </div>



          <div class="col-md-3">
            <div class="answerbig">
              <a href="">
              <p class="answerp1">01</p>
              <p class="answerp2">星期天有门诊吗？</p>
              <p class="answerp3">星期天上午有门诊</p>
              <div class="answerdiv">
                <span class="fa fa-long-arrow-right"></span>
              </div>
              </a>
            </div>
          </div>
          <div class="col-md-3">
            <div class="answerbig">
              <a href="">
              <p class="answerp1">01</p>
              <p class="answerp2">星期天有门诊吗？</p>
              <p class="answerp3">星期天上午有门诊</p>
              <div class="answerdiv">
                <span class="fa fa-long-arrow-right"></span>
              </div>
              </a>
            </div>
          </div>
          <div class="col-md-3">
            <div class="answerbig">
              <a href="">
              <p class="answerp1">01</p>
              <p class="answerp2">星期天有门诊吗？</p>
              <p class="answerp3">星期天上午有门诊</p>
              <div class="answerdiv">
                <span class="fa fa-long-arrow-right"></span>
              </div>
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <div class="row">
          <div class="col-md-3">
            <div class="answerbig">
              <a href="">
              <p class="answerp1">01</p>
              <p class="answerp2">星期天有门诊吗？</p>
              <p class="answerp3">星期天上午有门诊</p>
              <div class="answerdiv">
                <span class="fa fa-long-arrow-right"></span>
              </div>
              </a>
            </div>
          </div>



          <div class="col-md-3">
            <div class="answerbig">
              <a href="">
              <p class="answerp1">01</p>
              <p class="answerp2">星期天有门诊吗？</p>
              <p class="answerp3">星期天上午有门诊</p>
              <div class="answerdiv">
                <span class="fa fa-long-arrow-right"></span>
              </div>
              </a>
            </div>
          </div>
          <div class="col-md-3">
            <div class="answerbig">
              <a href="">
              <p class="answerp1">01</p>
              <p class="answerp2">星期天有门诊吗？</p>
              <p class="answerp3">星期天上午有门诊</p>
              <div class="answerdiv">
                <span class="fa fa-long-arrow-right"></span>
              </div>
              </a>
            </div>
          </div>
          <div class="col-md-3">
            <div class="answerbig">
              <a href="">
              <p class="answerp1">01</p>
              <p class="answerp2">星期天有门诊吗？</p>
              <p class="answerp3">星期天上午有门诊</p>
              <div class="answerdiv">
                <span class="fa fa-long-arrow-right"></span>
              </div>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <a class="carousel-control-prev" href="#demo2" data-slide="prev" style="margin-left:-100px;">
      <span class="carousel-control-prev-icon"></span>
    </a>
    <a class="carousel-control-next" href="#demo2" data-slide="next" style="margin-right:-100px;">
      <span class="carousel-control-next-icon"></span>
    </a>

  </div>

</div>

  </div>
  <div class="about">
    <div class="container">
      <div class="row">
        <div class="col-md-3">
          <ul>
            <li>
          <p class="aboutp1">关于</p>
            </li>
            <li>
              <a href="">
          <p class="aboutp2">北京大学深圳医院于2003年引进国际
            最先进技术成立了宫颈癌早诊早治中
            心，其突出特点是集宫颈门诊、专业
            护理、病毒DNA检验、细胞诊断、阴
            道镜及宫颈活组织检查、病理制片及
            诊断........</p>
              </a>
            </li>
          </ul>
        </div>
        <div class="col-md-3">

          <ul>
            <li> <p class="aboutp1">帮助</p></li>
            <li>
              <a href="">
              注册新用户
              </a>
            </li>
            <li>
              <a href="">
              申请筛查
              </a>
            </li>
            <li>
              <a href="">
              收发货流程
              </a>
            </li>
            <li>
              <a href="">
              自检视频(瓶装采样法)
              </a>
            </li>
            <li>
              <a href="">
              自检视频(样本卡采样法)
              </a>
            </li>
            <li>
              <a href="">
              查询结果
              </a>
            </li>

          </ul>
        </div>
        <div class="col-md-3">

          <ul>
            <li><p class="aboutp1">联系</p></li>
            <li>
              地址: 广东省深圳市福田莲花路1120号
            </li>
            <li>
              电话: 0755-83923333转
            </li>
            <li>
              专线: 13622301162
            </li>
            <li>
              邮件: abc@abc.com
            </li>
          </ul>
        </div>
        <div class="col-md-3" style="text-align: center;
    margin-top: 5%;">
          <img src="../../static/img/erweima.png" alt="">

        </div>
      </div>
    </div>
  </div>
</section>
<footer>
  <div class="container">
<div style="padding:4% 0;">
    <p>粤ICP备11104678号  |  技术支持:(qq:41502348)</p>
    <div class="footerbigdiv" style="width:30%;right:0;">
    <div class="row footerdiv">
      <div class="col-md-3">
        <a href="">
        <img src="../../static/img/tubiao1.png" alt="">
        </a>
      </div>
      <div class="col-md-3">
        <a href="">
        <img src="../../static/img/tubiao2.png" alt="">
        </a>
      </div>
      <div class="col-md-3">
        <a href="">
        <img src="../../static/img/tubiao3.png" alt="">
        </a>
      </div>
      <div class="col-md-3">
        <a href="">
        <img src="../../static/img/tubiao4.png" alt="">
        </a>
      </div>
      </div>
      </div>
    </div>
  </div>
</footer>
