<link rel="stylesheet" type="text/css" href="./index.component.css">
<link rel="stylesheet" type="text/css" href="../../static/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="../../static/css/font-awesome/css/font-awesome.min.css">
<script type="text/javascript" src="../../static/js/jquery.min.js"></script>
<script type="text/javascript" src="../../static/js/bootstrap.min.js"></script>

<nav class="navbar">
  <div class="container" style="padding-top: 4%;">
    <a class="" ><img src="../../static/img/logo.png"  class="img-fluid logoimg" alt=""></a>
    <div class="rightbtn">
      <a [routerLink]="['/login']"><button class="btn topbtn lobtn">登录</button></a>
      <a [routerLink]="['/register']"><button class="btn topbtn regbtn">注册</button></a>
    </div>
  </div>
</nav>
<section>
  <div class="container position-relative" id="sec">

    <div class="row">
      <div class="col-md-4 col-sm-12 col-xs-12">
        <a [routerLink]="['/home-page']">
        <div class="three blue text-center" >
          <img src="../../static/img/heart.png" alt="">
          <p>患者版</p>
      </div>
        </a>
      </div>
      <div class="col-md-4 col-sm-12 col-xs-12">
        <a>
        <div class="three qing text-center">
          <img src="../../static/img/doctor.png" alt="">
          <p>医生版</p>
        </div>
        </a>
      </div>
      <div class="col-md-4  col-sm-12 col-xs-12">
        <a>
        <div class="three green text-center">
          <img src="../../static/img/bianji.png" alt="">
          <p>管理员</p>
        </div>
        </a>
      </div>
    </div>

    <div class="text-center position-absolute" style="bottom: 0;left:10%;">
      <img src="../../static/img/pro.png" class="img-fluid" alt="">
    </div>
  </div>
</section>
