nav a{font-family:微软雅黑 ;text-decoration: none;color:#000 !important;}
a{text-decoration: none;}
a:hover{text-decoration: none;}
.spanl{position: absolute;  right:8px;  top: 12px;}
nav ul li{list-style: none;display: inline-block;padding:0 24px;color:#666;font-size: 10px;}
nav{padding:0;}
.top{padding:20px 0;}
.spanl{position: absolute;  right:8px;  top: 12px;}
.navbar-toggler{margin:0 auto;color:#789ec3;font-size: 30px;border:1px solid #789ec3;}
.navlist li{position: relative}
.navlist li a{cursor: pointer;}
.navlist li .dropdown-menu{border: none;background: #789fc3;top: 25px !important;left: 17px;font-size: 14px;  }
.navlist li .dropdown-menu .dropdown-item{color: #fff}
.navlist li .dropdown-menu .dropdown-item:hover{background: #76a4cf;}
.navlist li .dropdown-menu .dorpimg{position: absolute;width: 15px;height: 20px;top: -17px;left: 10px;}
.Invisible{opacity: 0;}

.big{padding:50px 0;}
.bigtitle{font-size: 30px;color:#000;font-weight: 400;}


.publish{width:100%;background: #789ec3;color:#fff;padding:2% 0;}
.publish-content{padding:2% 5%;}
.publish-submit{background: #789ec3;    padding: 2% 15%;color:#fff !important;}
.leibie{left:20%;}
.submit{margin-top:10%;}
.form-img img{width:12%;margin-right:10%;}
.black{color:#000;}

.aboutp1{color:#232323;font-size: 24px;}
.aboutp2{color:#6c6c6c;font-size: 15px;}
.about ul li{display: list-item;margin-top:7%;font-size: 15px; color: #6c6c6c;list-style: none;}
.about ul li a{color:#6c6c6c;}
.about img{width:50%;}
footer{background: #789ec3;color:#fff;}


@media screen and (max-width: 760px){
  .onebig{margin:0;}
  .item{bordeR: 1px solid #fff;font-size: 17px !important;background: #789ec3;padding:10px 0 !important;}
  .item a{color:#fff;}
  .footerbigdiv{margin:0 auto;}
  .footerdiv div{padding-left:45%;}
  .lefttitle{width:100%;}
  .leibie{left:30%}
  .submit{margin-top:15%;}
}
