<link rel="stylesheet" type="text/css" href="./publish-question.component.css">
<link rel="stylesheet" type="text/css" href="../../static/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="../../static/css/font-awesome/css/font-awesome.min.css">
<script type="text/javascript" src="../../static/js/popper.js/dist/umd/popper.js"></script>
<script type="text/javascript" src="../../static/js/jquery.min.js"></script>
<script type="text/javascript" src="../../static/js/bootstrap.min.js"></script>



<div class="container-fluid text-center" style="padding:0;">
  <a class="navbar-brand" href="#"><img src="../../static/img/logo.png" alt="" class="img-fluid"></a>

  <nav class="navbar navbar-expand-md navbar-dark text-center">
    <!-- Brand -->


    <!-- Toggler/collapsibe Button -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
      <span class="fa fa-bars"></span>
    </button>

    <!-- Navbar links -->
    <div class="collapse navbar-collapse" id="collapsibleNavbar">
      <ul class="navbar-nav navlist"  style="    margin: 0 auto;">
        <li class="nav-item item">
          <a class="" href="#">首页</a>
        </li>
        <li class="nav-item item">
          <a class="" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">医疗机构</a>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton" >

            <a class="dropdown-item">首页</a>
            <a class="dropdown-item">首页</a>
            <a class="dropdown-item">首页</a>
            <a class="dropdown-item">首页</a>
          </div>
        </li>
        <li class="nav-item item">
          <a class="" href="#">关于我们</a>
        </li>
        <li class="nav-item item">
          <a class="" href="#">专家推荐</a>
        </li>
        <li class="nav-item item">
          <a class="" href="#">项目介绍</a>
        </li>
        <li class="nav-item item">
          <a class="" href="#">服务指南</a>
        </li>
        <li class="nav-item item">
          <a class="" href="#">申请筛查</a>
        </li>
        <li class="nav-item item">
          <a class="" href="#">在线问答</a>
        </li>
        <li class="nav-item item">
          <a class="" href="#">防治知识</a>
        </li>
        <li class="nav-item item">
          <a class="" href="#">医学动态</a>
        </li>

      </ul>
    </div>
  </nav>
</div>

<img src="../../static/img/banner.png" style="display: inline-block" class="img-fluid" alt="">



<div class="container">
  <div class="big screen text-center">
    <a href="" class="bigtitle">筛查指引</a>
    <p style="padding: 10px 0;">Screen</p>
  </div>
  <div class="publish text-center">
    <a>发表问题 </a>
  </div>

  <div class="publish-content position-relative">
    <form action="">
      <div class="form-group">
        <label for="usr" class="font-weight-bold">标题</label>
        <input type="text" class="form-control" id="usr">
      </div>
      <div class="form-group">
        <label for="comment" class="font-weight-bold">内容</label>
        <textarea class="form-control" rows="12" id="comment"></textarea>
      </div>
      <div class="form-img position-absolute"><a  class="black font-weight-bold" type="file"><img src="../../static/img/图片.png" alt="">图片</a></div>
      <div class="form-img position-absolute dropdown leibie"><a class="black font-weight-bold dropdown-toggle" data-toggle="dropdown"><img src="../../static/img/类别.png" alt="">类别</a>
        <div class="dropdown-menu">
        <a class="dropdown-item">投诉</a>
        <a class="dropdown-item">其他</a>
      </div></div>
      <div class="text-center submit">
      <a class="publish-submit text-center font-weight-bold" href="">发布</a>
      </div>
          </form>
  </div>
</div>





<div class="about">
  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <ul>
          <li>
            <p class="aboutp1">关于</p>
          </li>
          <li>
            <a href="">
              <p class="aboutp2">北京大学深圳医院于2003年引进国际
                最先进技术成立了宫颈癌早诊早治中
                心，其突出特点是集宫颈门诊、专业
                护理、病毒DNA检验、细胞诊断、阴
                道镜及宫颈活组织检查、病理制片及
                诊断........</p>
            </a>
          </li>
        </ul>
      </div>
      <div class="col-md-3">

        <ul>
          <li> <p class="aboutp1">帮助</p></li>
          <li>
            <a href="">
              注册新用户
            </a>
          </li>
          <li>
            <a href="">
              申请筛查
            </a>
          </li>
          <li>
            <a href="">
              收发货流程
            </a>
          </li>
          <li>
            <a href="">
              自检视频(瓶装采样法)
            </a>
          </li>
          <li>
            <a href="">
              自检视频(样本卡采样法)
            </a>
          </li>
          <li>
            <a href="">
              查询结果
            </a>
          </li>

        </ul>
      </div>
      <div class="col-md-3">

        <ul>
          <li><p class="aboutp1">联系</p></li>
          <li>
            地址: 广东省深圳市福田莲花路1120号
          </li>
          <li>
            电话: 0755-83923333转
          </li>
          <li>
            专线: 13622301162
          </li>
          <li>
            邮件: abc@abc.com
          </li>
        </ul>
      </div>
      <div class="col-md-3">
        <img src="../../static/img/erweima.png" alt="" style="text-align: center;
    margin-top: 5%;">

      </div>
    </div>
  </div>
</div>

<footer>




  <div class="container">
    <div style="padding:4% 0;">
      <p>粤ICP备11104678号  |  技术支持:(qq:41502348)</p>
      <div class="footerbigdiv" style="width:30%;right:0;">
        <div class="row footerdiv">
          <div class="col-md-3">
            <a href="">
              <img src="../../static/img/tubiao1.png" alt="">
            </a>
          </div>
          <div class="col-md-3">
            <a href="">
              <img src="../../static/img/tubiao2.png" alt="">
            </a>
          </div>
          <div class="col-md-3">
            <a href="">
              <img src="../../static/img/tubiao3.png" alt="">
            </a>
          </div>
          <div class="col-md-3">
            <a href="">
              <img src="../../static/img/tubiao4.png" alt="">
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
